<h2>Alumnos</h2>
<hr>
<form action="">
    <input type="email" id="email" placeholder="correo electrónico">
    <input type="submit" id="btnSubmit" value="Ingresar">
</form>

<script src="/js/index.js"></script>