<h2>Heroes Page</h2>
<hr>
<h3>Heroe del día: {{heroe.name}}</h3>
<p>Identidad: <strong>{{heroe.alias}}</strong></p>
<p>Team: <strong>{{heroe.team}}</strong></p>


<br><br>
<a href="/">Home Page</a>

{{>menu}}

<script src="/js/heroes.js"></script>
